.main {
  position: fixed;
  height: 80px;
  border-radius: 8px;

  /* Glass effect */
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(12px); /* main magic */
  -webkit-backdrop-filter: blur(12px); /* Safari support */
  border: 1px solid rgba(255, 255, 255, 0.25);

  width: calc(100% - 48px); /* 24px left + 24px right */
  max-width: 680px;
  top: 24px;
  left: 50%;
  transform: translateX(-50%); /* center horizontally */
  margin-left: 24px;
  margin-right: 24px;
  color: white;
  z-index: 99;

  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 16px;
}
